@import url('https://fonts.googleapis.com/css?Cormorant+Garamond');

body {  
    font-family: 'Cormorant Garamond', serif;
    background-color: #f8eee7;
}

.navbar-custom {
    font-size: 18px;
    background-color: #f8eee7!important;
}

.navbar-custom a {
    color: #938478!important;
}

.navbar-custom a:hover {
    color: #e7d4c6!important;
}

.navbar-logo {
    height: 30px;
    background-color: #f8eee7;
}

.nav-item-custom {
    padding: 10.8px;
}

.navbar-nav > li{
  margin-left:10.8px;
  margin-right:10.8px;
}

.motto {
    height: 200px;
    line-height: 50px;
    background-color: #FFF8F9;
    text-align: center;
    vertical-align: middle;
}

.motto-text {
    font-size: 28px;
    color: #938478;
}


